{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
    Vendedores
{% endblock titulo %}

{% block cabecera %}
    Listado de Vendedores
{% endblock cabecera %}

{% block contenido %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Legajo</th>
            <th>Mail</th>
        </tr>
    </thead>
    <tbody>
    {% for cliente in clientes %}
    <tr>
        <td>{{cliente.id}}</td>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.apellido}}</td>
        <td>{{cliente.legajo}}</td>
        <td>{{cliente.mail}}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>

    
{% endblock contenido %}